asgiref==3.5.0
certifi==2021.10.8
chardet==3.0.4
click==8.1.3
coverage==4.5.3
coveragePy==1.6.0
Django==4.0.4
djangorestframework==3.13.1
Flask==1.0.2
idna==2.10
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
pytz==2022.1
requests==2.25.0
sqlparse==0.4.2
urllib3==1.26.9
Werkzeug==2.1.2
